@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    overflow-x: hidden;
}
header{
    background: url(img/bg.png) center no-repeat;
    background-size: cover;
    max-height: 830px;
}
img{
    max-width: 100%;
    height: auto;
}
.container {
    padding-left: 0;
    padding-right: 0;
}

.top {
    position: absolute;
    right: 2%;
    top: 35%;
  }
  
  .top span {
    font-family: "Montserrat", sans-serif;
    color: #3d2514;
    font-size: 17px;
    font-weight: bold;
    margin-left: 7px;
  }
  
  .ul-menu {
    margin-top: 96px !important;
  }
  
  .ul-menu li.nav-item a.nav-link {
    color: #3d2514;
    font-size: 21px;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 3px;
    margin-left: 40px;
    font-weight: 500;
    border-radius: 5;
    position: relative;
    z-index: 88;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  
  .ul-menu li.nav-item:hover {
    color: #DF1B1B;
  }
  .ul-menu li a{
    -webkit-transition: all 0.4s ease-out;
     transition: all 0.4s ease-out;
  }
  .ul-menu li a:hover{
  color: red !important;
  letter-spacing: 4px !important;
  }
  .active1{
    color: red !important;
    letter-spacing: 4px !important;
  }
  .navbar-toggler:focus {
    outline: unset;
    border: unset;
    -webkit-box-shadow: none;
            box-shadow: none;
  } 
  .icon {
    font-size: 35px;
    position: relative;
    z-index: 1000;
    color: #3d2514;
  }

.banner-left{
    padding-top: 170px;
}
.banner-left p{
    width: 400px;
    text-align: center;
    border: 2px dashed #3d2514;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    color: #3d2514;
    font-weight: bold;
}
.banner-left h1{
    font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
    font-size: 84px;
}
.banner-left h4{
    font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
    font-size: 46px;
}
.banner-img{
    padding: 0;
    margin-top:-50px;
    position: relative;
}
.banner-img img{
    width: 100%;
    padding: 0;
    margin-bottom: -80px;
}
.price {
    position: absolute;
    width: 170px;
    background: #DF1B1B;
    height: 170px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 10%;
    left: 20%;
}
.price h2{
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    color: white;
    margin: -7px;
}
.price h2 span{
    font-family: 'Bebas Neue', cursive;
    font-size: 27px;
    font-weight: bold;
    color: white;
}
.price p {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: white;
    font-weight: bold;
    letter-spacing: 11px;
    text-align: center;
    margin: -3px 0  0 0;
    padding-left: 11px;
}
.price::after{
    width: 84%;
    height: 84%;
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 8%;
    left: 8%;
    border: 2px dashed white;
}




.try-left{
    background: url(img/try1.png) center no-repeat;
    background-size: cover;  
    border-radius: 10px;
   
}
.img1{
    background: url(img/try2.png) center no-repeat;
    background-size: cover;  
    border-radius: 10px;
}
.img2{
    background: url(img/try3.png) center no-repeat;
    background-size: cover;  
    border-radius: 10px;
}
.try-left h3,.img1 h3,.img2 h3{
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    padding: 30px 0 0 20px;
    letter-spacing: 2px;
    margin-bottom: 0;
}
.try-left h1,.img1 h1,.img2 h1{
    color: white;
    font-size: 42px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    padding:0 0 0 20px;
    letter-spacing: 2px;
    margin-bottom: 0px;
    margin-top: -7px;
}
h2.img2-txt {
    margin-top: 10px;
}
.img1 h1,.img2 h1{
    padding-bottom: 70px;
}
.mart{
    margin-top: -12px !important;
}
/* choose amd enjoy section start  */

.choose-top-txt h4 {
    color: #3d2514;
    font-size: 25px;
    width: 260px;
    margin: auto;
    background: #FFC134;
    padding: 12px 0;
    margin-top: 20px;
    font-family: 'Bebas Neue', cursive;
}
.choose-top-txt h1{
    font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
    font-size: 50px;
    text-transform: uppercase;
    margin: 30px 0 20px 0;
}
.choose-top-txt p{
    font-size: 17px;
    color: #3d2514;
    font-family: 'Montserrat', sans-serif;
}
.choose-img-txt h2{
    color: #3d2514;
    font-family: 'Bebas Neue', cursive;
    font-size: 38px;
    font-weight: bold;
    margin-top: 10px;
}
.choose-img-txt p{
    font-size: 17px;
    color: #3d2514;
    font-family: 'Montserrat', sans-serif;
}
.choose-img-txt a {
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 17px;
    margin-top: 10px;
    background: #DF1B1B !important;
    padding: 18px 45px 13px 45px;
    border-radius: 0 !important;
}
img.shadow-img {
    width: 120%;
}
.first{
    margin-top: 20px !important;
}

/* choose amd enjoy section end  */
/* Up Coming Event section start  */
.shadow1{
    box-shadow: 0 10px 10px  rgba(0, 0, 0, 0.103);
}
.upcoming-enent-txt h3{
    font-size: 29px;
    color: #3d3d3d;
    font-family: 'Bebas Neue';
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;}
.upcoming-enent-txt h1{
    color: #3d2514;
    font-size: 42px;
    font-family: 'Alfa Slab One';
    text-transform: uppercase;
}
.upcoming-enent-txt p{
    color: #3d3d3d;
    font-size: 21px;
    font-family: 'Montserrat';
    margin-top: 30px;
}
/* .upcoming-enent-txt span {
    width: 15px;
    height: 15px;
    background: yellow;
    border-radius: 50%;
    display: inline-block;
    margin-top: 36px;
} */
.slider-container{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.upcoming-slider{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.slider-row{
    display: flex;
    width: 300%;
    transition: 0.5s;
}
.slider{
    width: 100%;
    position: relative;
}
.indicator {
    position: absolute;
    bottom: 15%;
    left: 8%;
}
.btn1{
    width: 15px;
    height: 15px;
    display: inline-block;
    background:white;
    border-radius: 15px;
    margin-left: 4px;
    cursor: pointer;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.192);
    transition: 1s;
}
.active{
    background: yellow !important;
    width: 45px !important; 
}
.slider-img-col {
    margin-top:70px;
}

/* Up Coming Event section end */
/* TABLE BOOK SECTION START */
.table-book{
    position: relative;
}
.cake{
    position: absolute;
    top: -25%;
    left: 0;
}
img.plate {
    position: absolute;
    bottom:-55%;
    right: 0;
}
img.sos {
    position: absolute;
    top: 25%;
    left: 10%;
}

.table-book-info h3{
    color: #3d2514;
    font-size: 29px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    margin-top: 130px;
    text-transform: uppercase;
}
.table-book-info h1{
    color: #3d2514;
    font-size: 50px;
    font-family: 'Alfa Slab One';
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 80px;
}
.table-book-info form input {
    width: 48%;
    margin-bottom: 37px;
    padding: 12px 0 12px 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(51 51 51 / 33%);
    font-size: 21px;
    font-family: 'Bebas Neue', cursive;

}
.table-book-info form input:focus{
    border: 1px solid #4794F3;

}
.table-book-info form input:nth-child(2n){
    float: right;
}
.table-book-info form input:nth-child(6) {
    background: #DF1B1B;
    color: white;
    font-size: 21px;
    font-family: 'Alfa Slab One';
    box-sizing: border-box;
    letter-spacing: 2px;
    padding: 13px;
    border: none;
}
/* TABLE BOOK SECTION END */
/* footer start  */
.footer-section{
    width: 96%;
    margin: auto;
    background: url(img/bottomimg.png) center no-repeat;
    background-size: cover;
    margin-top: 127px;
}
.footer-logo{
    margin-top: 140px;
}
.footer-logo img{

margin-top: 80px;

margin-bottom: 45px;
}
.footer-logo p{
    font-size: 17px;
    font-family: 'Montserrat';
    text-align: left;
    margin-right: 201px;
}
.footer-logo h5{
    margin: 166px 0 30px 0;
    font-size: 17px;
    font-family: 'Bebas Neue';
}
.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
    position: relative;
}
.location p{
    font-size: 21px;
    font-family: 'Bebas Neue';
    display: flex;
    align-items: center;
}
.location p span{
    font-size: 30px;
    margin-right: 15px;
}
.socil-icom{
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.socil-icom span a{
    background: white;
    width: 30px;
    height: 30px;
    display: inline-block;
    color: black;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin: 0 5px;
    transition: .5s;
    
}
.socil-icom span a:hover{
    color: red;
    background: black;
    transform: translateY(-6px);
}
/* footer end */

@media screen and (max-width: 1230px) {
    .header-img {
      margin-top: -80px;
    }
    .price {
        width: 160px;
        height: 160px;
        bottom: 8%;
        left: 15%;
    }
    .banner-left p {
        width: 380px;
        font-size: 23px;
    }
    .banner-left {
        padding-top: 130px;
    }
    .upcoming-enent-txt h1 {
        font-size: 38px;
    }
    .table-book-info h1 {
        font-size: 47px;
    }
  }
  
  @media screen and (max-width: 1130px) {
    .col-lg-5 .header-txt h1 {
      font-size: 100px;
    }
    .col-lg-5 .header-txt h4 {
      font-size: 50px;
    }
    .price {
        width: 150px;
        height: 150px;
        bottom: 8%;
        left: 15%;
    }
    .header-img .circle h1 {
      font-size: 60px;
    }
    .header-img .circle h1 span {
      font-size: 25px;
    }
    .header-img .circle .p {
      font-size: 27px;
      letter-spacing: 7px;
    }
    .banner-left h1 {
        font-size: 70px;
    }
    .banner-left h4 {
        font-size: 40px;
    }
    .upcoming-enent-txt h1 {
        font-size: 33px;
    }
    .table-book-info h1 {
        font-size: 45px;
    }
    .table-book-info {
        width: 60% !important;
    }
    img.sos {
        top: 25%;
        left: 6%;
    }
    img.plate {
        bottom: -49%;
        width: 23%;
    }
    .cake {
        top: -18%;
        width: 25%;
    }
  }

  @media screen and (max-width: 991px) {
      .top{
          display: none;
      }
      .banner-img {
        margin-top: -269px;
    }
      .bottom span {
        font-family: "Montserrat", sans-serif;
        color: #3d2514;
        font-size: 17px;
        font-weight: bold;
        margin-left: 7px;
      }
      .ul-menu{
          margin: 0 !important;
      }
      .banner-left {
        padding-top: 72px;
    }
    .banner-img {
     
        margin-top: -265px;
    }
    .price {
        width: 170px;
        height: 170px;
        bottom: 16%;
        left: 18%;
    }
    .icon {
        font-size: 30px;
    }
    .banner-img {
        margin-top: -162px;
    }
    .choose-img-txt h2 {
        font-size: 30px;
    }
    .choose-img-txt p {
        font-size: 15px;
    }
    .choose-img-txt a {
        font-size: 15px;
        padding: 14px 43px 11px 43px;
    }
    h2.img2-txt {
        margin-top: 17px;
    }
    .table-book-info {
        width: 70% !important;
    }
    img.sos {
        top: 23%;
        left:0%;
    }
    img.plate {
        bottom: -33%;
        width: 19%;
    }
    .cake {
        top: -15%;
        width: 22%;
    }
    .table-book-info h1 {
        font-size: 38px;
    }
    .table-book-info h1 {
    font-size: 37px;
   }
   .table-book-info h3 {
    font-size: 25px;
}
.footer-logo img {
    margin-top: -16px;
    margin-bottom: 45px;
    width: 50%;
}
.location-h5 {
    font-size: 17px;
    font-family: 'Bebas Neue';
    margin-top: 40px;
}
.footer-logo p {
    margin-bottom: 60px;
    margin-right: 0 !important;
}
.indicator {
    bottom: 3%;
    left: 50%;
    transform: translate(-50%);
}
.upcoming-enent-txt p {
    font-size: 19px;
}
  }
  @media screen and (max-width:767px) {
    .banner-img {
        margin-top: -157px;
    }
    .try-left h1 {
        padding-bottom: 305px;
    }
    .price {
        width: 150px;
        height: 150px;
        bottom: 12%;
        left: 16%;
    }
    .banner-left p {
        width: 350px;
        font-size: 21px;
    }
    .banner-left {
        padding-top: 130px;
    }
    .choose-img-txt a {
        margin-bottom: 100px;
    }
    .choose-top-txt h1 {
        font-size: 40px;
    }
    .upcoming-enent-txt h3 {
        font-size: 24px;
    }
    a.btn.btn-danger.last-a {
        margin-bottom: 10px !important;
    }
    
    .table-book-info {
        width: 80% !important;
    }
    img.sos {
        top: 18%;
        left: -10%;
    }
    img.plate {
        bottom: -12%;
        width: 15%;
    }
    .cake {
        top: -4%;
        width: 20%;
    }
    .table-book-info h1 {
        font-size: 25px;
    }
    .table-book-info h3 {
        font-size: 21px;
    }
    .table-book-info form input:nth-child(6) {
        font-size: 15px;
        padding: 16px 0;
    }
    .footer-logo p {
        font-size: 16px;
        margin-right: 0 !important;
    }
    .upcoming-enent-txt p {
        font-size: 18px;
    }
  }
  @media screen and (max-width:575px) {
    .banner-left p {
        width: 300px;
        font-size: 18px;
    }
    a.navbar-brand {
        width: 63%;
    }
    .banner-left p {
        width: 290px;
        font-size: 17px;  
    }
    .banner-left {
        padding-top: 63px;
    }
    .banner-img {
        margin-top: -40px;
        padding-bottom: 50px;
    }
    .price {
        width: 140px;
        height: 140px;
        bottom: 13%;
        left: 9%;
    }
    .header-img .circle h1 {
      font-size: 60px;
    }
    .header-img .circle h1 span {
      font-size: 25px;
    }
    .header-img .circle .p {
      font-size: 27px;
      letter-spacing: 7px;
    }
    .banner-left h1 {
        font-size: 55px;
    }
    .banner-left h4 {
        font-size:30px;
    }
    .choose-top-txt h1 {
        font-size: 35px;
    }
    .choose-top-txt h4 {
        font-size: 23px;
        width: 210px;
        padding: 15px 0 10px;
    }
    .choose-top-txt p {
        font-size: 15px;
    }
    .upcoming-enent-txt h1 {
        font-size:28px;
    }
    .upcoming-enent-txt h3 {
        font-size: 20px;
    }
    
    .last-a {
        margin-bottom: 7px !important;
    }
    .table-book-info h3 {
        font-size: 18px;
    }
    .table-book-info {
        width: 83% !important;
    }
    img.sos {
        top: 25%;
        left: -7%;
        width: 36%;
    }
    img.plate {
        bottom: -4%;
        width: 13%;
    }
    .cake {
        top: -4%;
        width: 20%;
    }
    .table-book-info h1 {
        font-size: 25px;
    }
    .table-book-info form input {
        margin-bottom: 23px;
    }
    .table-book-info h1 {
        font-size: 25px;
        margin-bottom: 40px;
    }
    .table-book-info form input:nth-child(6) {
        font-size: 12px;
        padding: 18px 0;
    }
    .footer-logo p {
        font-size: 15px;
        margin-right: 0 !important;
    }
    .footer-logo img {
        margin-top: -46px;
        margin-bottom: 45px;
        width: 60%;
    }
    .location-h5 {
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 55px;
    }
    .upcoming-enent-txt p {
        font-size: 16px;
    }
  }
  @media screen and (max-width:360px) {
    .banner-left p {
        width: 290px;
        font-size: 17px;  
    }
    .banner-left {
        padding-top: 63px;
    }
    .banner-img {
        margin-top: -40px;
        padding-bottom: 50px;
    }
    .price {
        width: 101px;
        height: 101px;
        bottom: 7%;
        left: 5%;
    }
    .price h2 span {
        font-size: 18px;
    }
    .price h2 {
        font-size: 38px;
        margin: -6px;
    }
    .price p {
        font-size: 21px;
        letter-spacing: 7px;
        padding-left: 10px;
    }
    .banner-left h1 {
        font-size: 55px;
    }
    .banner-left h4 {
        font-size:30px;
    }
    .choose-top-txt h1 {
        font-size: 29px;
    }
    .upcoming-enent-txt h1 {
        font-size: 22px;
    }
    .upcoming-enent-txt h3 {
        font-size: 18px;
    }
    a.btn.btn-danger.last-a {
        margin-bottom: 10px !important;
    }
    .table-book-info form input:nth-child(6) {
        font-size: 10px;
        padding: 18px 0;
    }
    .footer-logo p {
        font-size: 14px;
        margin-right: 0 !important;
    }
    .upcoming-enent-txt p {
        font-size: 15px;
    }
  }
